<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.jtek.bakingapp">

    <!-- Permission used for checking if network connection exists -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to access network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BakingAppApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- MainActivity - app entry point -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RecipeActivity - single recipe overview (+ step details in tablet layout) -->
        <activity
            android:name=".ui.RecipeActivity"
            android:parentActivityName=".ui.MainActivity"
            android:launchMode="singleTop"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"
                />
        </activity>

        <!-- StepActivity - single recipe step view, used only in phone layout  -->
        <activity
            android:name=".ui.StepActivity"
            android:parentActivityName=".ui.RecipeActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RecipeActivity"
                />
        </activity>

        <!-- Media button receiver -->
        <receiver android:name=".ui.StepFragment$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Widget receiver -->
        <receiver android:name=".widget.BakingAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <!-- Widget service -->
        <service android:name=".widget.IngredientListService" />

        <!-- Widget ingredient list provider -->
        <provider
            android:name=".provider.RecipeContentProvider"
            android:authorities="cz.jtek.bakingapp"
            android:exported="true"
            />

    </application>

</manifest>